@common-grey: #D4D4D4;
@dark-red: rgba(8, 7, 177, .9);
@light-red: rgba(8, 7, 177, 1);
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color:inherit;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
  &:focus {
    text-decoration: none;
    outline: none;
  }
}
.icon {
  background-repeat: no-repeat;
  display: inline-block;
  min-width: 1.5rem;
  min-height: 1.5rem;
  margin: 0.3rem;
  &:hover {
    cursor: pointer;
  }
}
.box-shadow {
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    &:hover {
      -webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); 
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    }
}
.form {
  padding-top: 20px;
  label {
    font-weight: normal;
  }
}
.back-top {
  background-image: url(../assets/img/back-top.png);
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
  position: fixed;
  top: 85%;
  right: 20px;
  display: none;
  z-index: 5;
}
button {
  border: none;
  min-width: 3rem;
}
.btn-box {
  margin-top: 2rem;
  span {
    display: inline-block;
    width: 20px;
    height: 100%;
  }
  button {
    border-radius: 0;
    a {
      line-height: 100%;
    }
  }
}
.btn-submit {
  background-color: @dark-red;
  color: #fff;
  &:hover {
    color: #fff;
    background-color: @light-red;
  }
  &:focus {
    color: #fff;
    outline: none;
  }
}
.btn-cancel {
  background-color: @common-grey;
  color: #333;
}
.modal-header {
  border-bottom: 1px solid @dark-red;
  .close {
    color: @dark-red;
    font-size: 1.8rem;
  }
}
.close, button, .btn:focus, button:focus, button:active {
  outline: none;
}
form label {
  min-width: 100px;
}
.modal-title {
  text-align: left;
}
// 信息提示
#msg {
  position: fixed;
  width: 100%;
  height: 4.375rem;
  top: 1.25rem;
  text-align: center;
  z-index: 5;
  display: none;
  .msg {
    max-width: 18.75rem;
    height: 4.375rem;
    margin: 0 auto;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.6);
    .msg-icon {
      top: 6px;
      right: 10px;
      display: inline-block;
      position: relative;
      background-repeat: no-repeat;
      height: 2rem;
      width: 2rem;
    }
    .yes {
      background-color: #fff;
      background-image: url(../assets/img/yes.png);
    }
    .error {
      background-image: url(../assets/img/notice.png);
      background-size: 2rem 2rem;
    }
    span {
      line-height: 4.375rem;
      font-size: 1.125rem;
      position: relative;
      bottom: 0.1875rem;
      color: #fff;
    }
  }
}


//商品条目
.items {
  position: relative;
  left: 1.3rem;
  min-height: 100%;
}
.items-box {
    display: -webkit-box;
    display: flex;
    display: -ms-flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: left;
    .item-list {
        width: 13.8rem;
        height: 19rem;
        background-color: rgba(255, 255, 255, 0.5);
        transition: all ease 1s;
        margin-bottom: 0.625rem;
        margin-right: 1.875rem;
        text-align: center;
        &:hover {
          background: #fff;
          img {
            transform: scale(1.1);
          }
        }
        .img {
          width: 13.8rem;
          height: 13.8rem;
          background-color: #fff;
          img {
            margin-top: 0.625rem;
            max-width: 90%;
            max-height: 90%;
            transition: all 0.8s; 
          }
          .no-img {
            padding-top: 1.875rem;
          }
        }
        .img-cover {
          height: 13.8rem;
          width: 13.8rem;
          position: relative;
          bottom: 13.8rem;
            .operate {
          width: 100%;
          height: 100%;
          text-align: right;
          display: none;
          transition: all 0.3s;
          -moz-transition: all 0.3s;
          -webkit-transition:  all 0.3s;
          -o-transition: all 0.3s;
          &:hover {
            background-color: rgba(0, 0, 0, 0.1);
            // background: none;
          }
          
          }
          &:hover .operate{
            display: block;
          }
        }
        p {
          padding: 0 0.6rem;
          position: relative;
          bottom: 13.8rem;
          text-align: left;
        }
        .title {
          margin-top: 1.4rem;
          span {
            float: right;
          }
        }
        .price {
          color: #d45b5e;
        }
  }
  .add-btn {
    height: 13.8rem;
    background: none;
    background-image: url(../assets/img/add-item.png);
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid #fff;
    &:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.2);
      background-image: url(../assets/img/add-item.png);
      background-repeat: no-repeat;
      background-position: center center;
      border: none;
    }
  }
}
.edit {
  background-image: url(../assets/img/edit.png);
}
.del {
  background-image: url(../assets/img/del.png);
}
.collect {
  background-image: url(../assets/img/star.png);
  width: 2rem;
  height: 2rem;
  background-size: 2rem 2rem;
}
.collected {
  background-image: url(../assets/img/red-star.png);
}
.send-icon {
  background-image: url(../assets/img/send.png);
  background-size: 100% 100%;
}
.back {;
    background-image: url(../assets/img/back.png);
}
.contacts {
    background-image: url(../assets/img/contacts.png);
}
.select-pic {
  background-size: 100% 100%;
  background-image: url(../assets/img/select-pic.png);
}
.menu {
  background-image: url(../assets/img/menu.png)
}
.search-icon {
  background-image: url(../assets/img/search.png)
}